<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/sticky-footer-navbar/">

    <title>Faber | Airline Management</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/3.3/examples/sticky-footer-navbar/sticky-footer-navbar.css"
          rel="stylesheet">


</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AirMgr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/flights' ? 'active':''}"><a
                        href="/admin/flights">Flights</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/orders' ? 'active':''}"><a
                        href="/admin/orders">Orders</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>Orders Management</h1>
    </div>
    <div class="page-information">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Order time</th>
                        <th>Return type</th>
                        <th>Flight id</th>
                        <th>Departure airport</th>
                        <th>Arrival airport</th>
                        <th>Departure time</th>
                        <th>Arrival time</th>
                        <th>Total tickets</th>
                        <th>Price flight</th>
                        <th>Total price</th>
                        <th class="text-center">
                            <a class="btn btn-default btn-xs text-success">
                                <i class="fa fa-plus"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    <tr th:each="item : ${orders}">
                        <td th:text="${item.id}"></td>
                        <td th:text="${#dates.format(item.orderTime, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${item.returnType}"></td>
                        <td th:text="${item.flight.id}"></td>
                        <td th:text="${item.flight.departurePort.name}"></td>
                        <td th:text="${item.flight.arrivalPort.name}"></td>
                        <td th:text="${#dates.format(item.flight.departureTime, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${#dates.format(item.flight.arrivalTime, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:text="${item.totalTickets()}"></td>
                        <td th:text="${#numbers.formatDecimal(item.flight.price, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
                        <td th:text="${#numbers.formatDecimal(item.totalPrice, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
                        <td class="text-center">
                            <a class="btn btn-default btn-xs text-info">
                                <i class="fa fa-edit"></i>
                            </a>

                            <a class="btn btn-default btn-xs text-danger">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Faber training project.</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
