<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.3/examples/sticky-footer-navbar/">

    <title>Faber | Airline Management</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/3.3/examples/sticky-footer-navbar/sticky-footer-navbar.css"
          rel="stylesheet">


</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AirMgr</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/flights' ? 'active':''}"><a
                        href="/admin/flights">Flights</a></li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/admin/orders' ? 'active':''}"><a
                        href="/admin/orders">Orders</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>Add Flight</h1>
    </div>
    <div class="page-information">
        <form method="POST" th:action="@{/admin/flights/ad}">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="form-label">Departure port</span>
                        <select class="form-control" th:field="${flight.departurePort}">
                            <option th:each="item : ${ports}" th:value="${item.id}"
                                    th:text="${item.getName()}" th:name="${item.getId()}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="form-label">Arrival port</span>
                        <select class="form-control" th:field="${flight.arrivalPort}">
                            <option th:each="item : ${ports}" th:value="${item.getId()}"
                                    th:text="${item.getName()}" th:name="${item.getId()}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="form-label">Departure time</span>
                        <input class="form-control" type="datetime-local" th:field="${flight.departureTime}" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="form-label">Arrival time</span>
                        <input class="form-control" type="datetime-local" th:field="${flight.arrivalTime}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <span class="form-label">Price</span>
                        <input class="form-control" type="number" th:field="${flight.price}" required>
                    </div>
                </div>
            </div>
            <div class="row" th:if="${error != null}">
                <div class="col-md-12">
                    <div class="alert alert-danger" th:text="${error}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Faber training project.</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>
